.App{
  margin: 10px;
  padding: 10px;
}
.header{
  background-color: #0a0303;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 5px;
  /* margin-right: 5px; */
  margin-bottom: 3px;
  /* border-radius: 3px; */
  font-weight: 700;
}

.user-name{
  font-size: 12px;
  margin-right: 5px;
}

.task-input{
  padding: 5px;
  /* width: 25%; */
  width: -webkit-fill-available
}
.todo-container{
  width: 50%;
  padding: 10px;
  margin: 10px;
}
@media (max-width : 500px){
  .task-input{
    /* width: 96%; */
  }
  .todo-container{
    width: 90%;
  }
}
.task{
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-label{
  display: flex;
  align-items: center;
}
.completed-task{
  display: flex;
  align-items: center;
}
.btn-edit{
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #212529;
  border-color: #212529
}

.btn-delete{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  cursor: pointer;
}

.btn-reset{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd
}

.checkbox{
  min-width: 20px;
  height: 20px;
}

.lists{
  margin-top: 20px;
  padding-inline-start: 0px !important;
}

.no-task{
  color:#ffc107
}

.all-task-complete{
  color: #198754
}
